*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.container{
	width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}
#header{
	background: url(banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 590px;
}

.active-logo {
    float: left;
    margin-top: 35px;
    margin-right: 375px;
    margin-bottom: 12px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li {
    float: left;
    list-style-type: none;
    margin-top: 37px;
    margin-left: 42px;
}

.hr-line hr {
    width: 100%;
}

.home-desc {
    text-align: center;
    margin-top: 172px;
    color: white;
}

.home-desc h1 {
    padding-bottom: 26px;
    line-height: 14px;
    font-size: 38px;
    text-transform: uppercase;
}

.home-desc p {
    padding-bottom: 57px;
    padding-top: 31px;
}

.home-desc button {
    color: white;
    text-transform: uppercase;
    padding: 16px 16px;
    background: #E84545;
    border: none;
    border-radius: 8px; 
}


.nav-bar ul li a:hover {
    color: #2D2E4A;
    background: white;
    padding: 6px 5px;
    border-radius: 2px;
}

.home-desc button:hover {
    color: #2D2E4A;
    background: white;
}

.single-tool {
    width: 306px;
    padding-top: 68px;
    float: left;
    margin-left: 64px;
}

.tool-icone i {
    color: #E84545;
    text-align: center;
    margin: auto;
    padding-bottom: 37px;
}

.tool-icone {
    text-align: center;
    font-size: 57px;
}

.tool-desc {
    text-align: center;
}

.tool-desc h4 {
    padding-bottom: 17px;
    font-size: 13px;
}

.tool-desc p {
    color: #8e8e8e;
    padding-bottom: 75px;
}

.tool-wrapper {
    overflow: hidden;
}

.single-image img {
    width: 336px;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
}




.image-show-wrapper {
    overflow: hidden;
}

.team-single {
    width: 277px;
    padding-top: 142px;
    float: left;
}

.team-heading {
    margin-top: 17px;
}

.team-heading h2 {
    margin-bottom: 6px;
}

.team-heading span {
    color: #E84545;
}

.team-desc-single {
    margin-top: 25px;
}

.team-desc-single p {
    color: #6f6e6e;
}

.team-social-icone ul li {
    list-style-type: none;
    float: left;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    padding-right: 21px;
    padding-bottom: 70px;
}

.team-social-icone ul li:hover{
	color: #E84545;
	cursor: pointer;
}

.single-image img:hover{
	cursor: pointer;
}

.team-image img:hover{
	cursor: pointer;
}

.team-wrapper {
    overflow: hidden;
}

.single-person-image img {
    width: 594px;
    float: left;
}

.testimonial-desc {
    background: #53354A;
    height: 298px;
}

.testimonial-desc h3 {
    padding-top: 127px;
    width: 963px;
    text-align: center;
}

.download-wrapper {
    overflow: hidden;
}

.download-heading {
    text-align: center;
    margin-top: 86px;
}

.download-span {
    text-align: center;
    margin-top: 15px;
}

.download-button {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 90px;
}

.download-button button {
    padding: 13px 14px;
    border: none;
    border-radius: 4px;
    color: white;
    background: #E84545;
}

.download-button button:hover{
	color: #E84545;
	background: #c3c3c3;
	border: 1px solid black;

}
.footer-desc {
    text-align: center;
}

#footer {
    background: #313454;
}

.footer-wrapper {
    overflow: hidden;
}

.footer-desc {
    margin-top: 23px;
    margin-bottom: 23px;
}

.team-social-icone ul li i {
    color: #ababab;
}

.team-social-icone ul li i:hover{
	color: #E84545;
}